<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">Our Mission</h2>
        <p class="text-center text-muted h5">Health Conscious is on a mission to make quality healthcare affordable and accessible for over a billion+ Indians. We believe in empowering our users with the most accurate, comprehensive, and curated information and care, enabling them to make better healthcare decisions.</p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Health is a habit</h3>
                        <p class="card-text">It is the journey that takes you to new destinations every day with endless possibilities of life on the back of happiness, energy, and hope. Practo wants to make this journey easy for every Indian and help them live healthier and longer lives.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">Connect</h3>
                        <p class="card-text">We understand healthcare goes beyond signs, symptoms, diagnosis, and treatment. It’s about the deep connection between doctors and patients that leads to continuous care and sustained, better outcomes.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Trust</h3>
                        <p class="card-text">Health Conscious App. We are aware of the responsibility placed on us by 30 crore+ patients and over a lakh doctors. We always have and always will do everything we possibly can to uphold this trust.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">Transparency</h3>
                        <p class="card-text">We believe in full disclosure. We believe in communicating openly and honestly, and holding ourselves to the highest ethical standards.</p>
               
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Our offerings</h3>
                        <p class="card-text">	Comprehensive medical directory with detailed, verified information about more than a lakh doctor partners across the country</p>
       
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Made with care</h3>
                        <p class="card-text"><em>Praveen Shrungeri</em><br><em>Pradeep Phulse</em><br><em>Sachin Biradar</em><br><em>Samruddhi More</em><br><em>Mehul Sethi</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>	
</section>