<div class="jumbotron jumbotron-fluid" style="height: 480px;">
    <div class="row">
        <div class="col-sm-6" style="margin-left: 30px;">  
            <div>
                <img src="/assets/img/adminpage.jpg" style="margin-left:80px; margin-left:200px;margin-top: 30px;" height="120%" width="60%" class="rounded-circle"  alt="" >
            </div>
            <div>
                <h6 style="text-align: center; margin-left: 140px; margin-top: 30px;"><em> “Good health is not something we can buy. However, it can be an extremely valuable savings account.”-Anne Wilson Schaef</em></h6>
             </div>

        </div>
        <div class="col-sm-4"  style="margin-top: 120px; margin-left: 50px;">
            <a href="#" routerLink="beneficiaryList">
            <span>Beneficiaries</span>
            <div class="liquid"></div>
          </a><br>
          <a href="#" routerLink="healthpackagelist">
            <span>Health Packages</span>
            <div class="liquid"></div>
          </a>
           
        </div>
    </div>
</div>