<div class="container-fluid footer">
    <img id="im" src="assets/img/jkl.jpg" alt="" height="50px" width="150px">
    <div class="row">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
            <a href="https://www.facebook.com/CapgeminiIndia" class="fa fa-facebook mr-2"></a>
            <a href="https://twitter.com/capgeminiindia" class="fa fa-twitter mr-2"></a>
            <a href="https://www.linkedin.com/company/capgemini/mycompany/verification/" class="fa fa-linkedin mr-2"></a>
            <a href="https://www.youtube.com/channel/UCRHMhVXEsPtTQ60dkxg8VXw" class="fa fa-youtube mr-2"></a>
            <a href="https://www.instagram.com/capgeminiindia/" class="fa fa-instagram mr-2"></a>
        </div>
            <div class="footer-copyright text-center py-3" style="text-align: center; color: azure;">© 2022 Copyright:
                <a style="align-content: center;" href="https://capgemini.com" style="color: red;"> Capgemini</a>
            
    
        <div id="li" style="float: right; padding: auto;">
            <a routerLink="#" target="blank"><i class="bi bi-facebook"></i></a>
            <a routerLink="#" target="blank"><i class="bi bi-whatsapp"></i></a>
            <a routerLink="#" target="blank"><i class="bi bi-instagram"></i></a>

        </div>
    </div>